<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quản lý chủ sở hữu GPLX</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/Kiemdinh/Kiemdinh.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="icon" href="/uploads/h8.png" type="image/x-icon">
</head>
<body>
  
  <%- include('../layouts/header') %> 

  <%- include('../layouts/sidebar') %> 
  
  
  <div class="Canngang">
    <!-- Main content -->
    <div class="container-fluid mt-4">
      <!-- Breadcrumb -->
      <nav aria-label="breadcrumb" style="font-size: 20px;">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a style="color: black; text-decoration: none;" href="/trangchu">
              <img src="/uploads/home.png" style="width: 15px; margin-top: -4px;"> Trang chủ
            </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Danh sách kiểm định</li>
        </ol>
      </nav>
  
      <!-- Title and Button Section -->
      <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
        <h3>Danh sách kiểm định</h3>
      </div>
  
      <!-- Table (Full Width) -->
      <div class="table-container"> <!-- Added table-container for potential styling -->
        <table class="table table-bordered table-responsive">
          <thead>
            <tr>
              <th>STT</th>
              <th>Mã GPLX</th>
              <th>Tên</th>
              <th style="width: 135px;">Ảnh</th>
              <th>Ngày sinh</th>
              <th>CCCD</th>
              <th>Bước kiểm định</th>
              <th>Người kiểm định</th>
              <th>Ngày kiểm định</th>
              <th>Trạng thái</th>
              <th>Tác vụ</th>
            </tr>
          </thead>
          <tbody id="accountTableBody">
            <!-- Dữ liệu sẽ được hiển thị ở đây -->
          </tbody>
        </table>
      </div>
  
      <div id="loadingSpinner" class="text-center my-4 d-none">
        <i class="fas fa-spinner fa-spin fa-3x text-primary"></i>
        <p class="mt-2 text-secondary">Đang tải dữ liệu, vui lòng đợi...</p>
    </div>

      <!-- Pagination Controls -->
      <div id="paginationControls" class="pagination d-flex justify-content-between align-items-center mt-3">
        <button id="prevPage" class="btn btn-secondary" onclick="previousPage()" disabled>Previous</button>
        <span id="pageInfo" class="mx-2">Page 1 of 1</span>
        <button id="nextPage" class="btn btn-secondary" onclick="nextPage()">Next</button>
      </div>
    </div>
  </div>
  
  <div id="secretKeyModal" class="modal-key" style="display: none;">
    <div class="modal-content-key">
      <h2>Nhập khóa bí mật</h2>
      <input 
        type="password" 
        id="privateKeyInput" 
        placeholder="Nhập khóa bí mật tại đây" 
        style="width: 100%; padding: 10px; margin-top: 10px;" />
      <div class="modal-buttons">
        <button id="submitKey">Xác nhận</button>
        <button id="cancelKey">Hủy</button>
      </div>
    </div>
  </div>
  
  
  

<!-- Modal for adding and editing user -->
<div class="modal fade" id="licenseHolderModal" tabindex="-1" aria-labelledby="licenseHolderModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" style="text-align: center; width: 100%;" id="licenseHolderModalLabel">Thêm Chủ Sở Hữu</h5>                      
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>    
          <div class="modal-body">
              <form id="licenseHolderForm">
                  <input type="hidden" id="holderId"> <!-- Hidden input for editing -->
                  <div class="modal-left">
                      <div class="mb-3">    
                          <label for="gplx" class="form-label">Mã GPLX</label>
                          <input type="text" class="form-control" id="gplx" required>
                      </div>
                      <div class="mb-3">
                          <label for="name" class="form-label">Tên</label>
                          <input type="text" class="form-control" id="name" required>
                      </div>
                      <div class="mb-3">
                          <label for="dob" class="form-label">Ngày sinh</label>
                          <input type="date" class="form-control" id="dob" required>
                      </div>
                      <div class="mb-3">
                          <label for="cccd" class="form-label">CCCD</label>
                          <input type="text" class="form-control" id="cccd" required>
                      </div>
                      <div class="mb-3">
                        <label for="gender" class="form-label">Giới tính</label>
                        <select class="form-control" id="gender" required>
                            <option value="">Chọn giới tính</option>
                            <option value="Male">Nam</option>
                            <option value="Female">Nữ</option>
                        </select>
                    </div>
                      <div class="mb-3">
                          <label for="phone" class="form-label">Số điện thoại</label>
                          <input type="tel" class="form-control" id="phone" required>
                      </div>
                      <div class="mb-3">
                          <label for="email" class="form-label">Email</label>
                          <input type="email" class="form-control" id="email" required>
                      </div>
                  </div>
                  <div class="modal-right">
                      <div class="mb-3">
                          <label for="address" class="form-label">Địa chỉ</label>
                          <input type="text" class="form-control" id="address" required>
                      </div>
                      <div class="mb-3">
                          <label for="issueDate" class="form-label">Ngày cấp</label>
                          <input type="date" class="form-control" id="issueDate" required>
                      </div>
                      <div class="mb-3">
                          <label for="expiryDate" class="form-label">Ngày hết hạn</label>
                          <input type="date" class="form-control" id="expiryDate" required>
                      </div>
                      <div class="mb-3">
                          <label for="ngaytrungtuyen" class="form-label">Ngày trúng tuyển</label>
                          <input type="date" class="form-control" id="ngaytrungtuyen" required>
                      </div>
                      <div class="mb-3">
                          <label for="hangGPLX" class="form-label">Hạng GPLX (Ô tô)</label>
                          <select class="form-control" id="hangGPLX" required>
                              <option value="B1">B1</option>
                              <option value="B2">B2</option>
                              <option value="C">C</option>
                              <option value="D">D</option>
                              <option value="E">E</option>
                          </select>
                      </div>
                      <div class="mb-3">
                        <label for="country" class="form-label">Quốc gia</label>
                        <select class="form-control" id="country" name="Country" required>
                            <option value="Vietnam">Việt Nam</option>
                            <option value="USA">Mỹ</option>
                            <option value="UK">Anh</option>
                            <option value="France">Pháp</option>
                            <option value="Germany">Đức</option>
                            <option value="Other">Khác</option>
                        </select>
                    </div>   
                      <div class="mb-3">
                        <label for="status" class="form-label">Trạng thái</label>
                        <select class="form-control" id="status" required>
                            <option value="Đang kiểm định" selected>Đang kiểm định</option>
                            <option value="Đã kích hoạt">Đã kích hoạt</option>
                            <option value="Chưa kích hoạt">Chưa kích hoạt</option>
                        </select>
                    </div>
                    
                      <div class="mb-3">
                          <label for="giamdoc" class="form-label">Giám đốc</label>
                          <input type="text" class="form-control" id="giamdoc">
                      </div>
                      <div class="mb-3">
                        <label for="image" class="form-label">Hình ảnh (Tùy chọn)</label>
                        <input type="file" class="form-control" id="image" accept="image/*">
                    </div>   
                      <div style="display: flex; justify-content: center;">
                        <button id="pushDataButton1" class="btn mb-3" 
                                style="background-color: #e2366f; color: white; font-size: 20px; padding: 10px 20px;" 
                                type="submit" disabled="true">
                                    Đẩy dữ liệu vào BlockChain
                        </button>
                    </div>               
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
</div>
  


  <!-- Bootstrap JS (bundle includes Popper.js) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/Kiemdinh/Kiemdinh.js"></script>
</body>
</html>
