/* Form Container */
.form-container {
  background: linear-gradient(to bottom, #e0f7fa, #ffffff); /* Nền chuyển màu */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container input,
.form-container select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease; /* Thêm hiệu ứng chuyển đổi */
}

/* Khi trường nhập liệu còn trống */
.form-container input:placeholder-shown {
  border-color: #ff9800; /* Đổi màu viền khi không có thông tin */
  background-color: #fff8e1; /* Màu nền nhạt khi không có thông tin */
}

.form-container input:focus,
.form-container select:focus {
  border-color: #1fcf45; /* Màu viền khi trường được chọn */
  outline: none; /* Ẩn đường viền mặc định của trình duyệt */
}

.form-container button {
  background-color: #1fcf45; /* Màu cam cho nút */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: #ff9800; /* Hiệu ứng hover: Màu xanh lá khi rê chuột vào nút */
}

.mt-custom {
  margin-right: 100px; /* Thêm khoảng cách cho lớp này */
}

/* Status classes */
.status.active {
  color: green;
}

.status.inactive {
  color: red;
}

/* Modal styling */
.modal {
  position: fixed;
  top: 50%; /* Modal ở giữa màn hình */
  left: 50%;
  transform: translate(-50%, -50%); /* Căn giữa modal */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Đảm bảo modal nằm trên các thành phần khác */
  transition: transform 0.3s ease-in-out;
  max-width: 600px; /* Đặt độ rộng tối đa cho modal */
  width: 100%; /* Đảm bảo modal không vượt quá màn hình */
}

.modal.show {
  transform: translate(-50%, -50%); /* Hiện modal ở giữa */
}

.modal-content {
  margin: 0 auto;
}

.modal-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center; /* Canh giữa tiêu đề modal */
}

.modal-body {
  font-size: 1rem;
}

.modal-close {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  display: block;
  margin-left: auto; /* Đặt nút đóng ở góc phải */
}

/* Nền mờ phía sau modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Nền mờ đen */
  z-index: 999; /* Đảm bảo nền mờ nằm dưới modal */
}
