<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quản lý chủ sở hữu GPLX</title>
  <link rel="stylesheet" href="css/Home/Trangchu.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="icon" href="/uploads/h8.png" type="image/x-icon">
</head>
<body>
  <%- include('../layouts/header') %> 

  <%- include('../layouts/sidebar') %> 

<div class="main-content1">
  <!-- Container to center the image -->
  <div class="image-container1">
    <img src="/uploads/h20.jpeg">
  </div>
</div>

</body>
</html>
