<Footer className="footer">
    <div className="footer-content">
        <ul className="footer-menu">
            <li><a href="#">Trang chủ</a></li>
            <li><a href="/Test">Giới thiệu</a></li>
            <li><a href="#">Quản lý vi phạm</a></li>
            <li><a href="#">Đổi GPLX trực tuyến</a></li>
        </ul>
        <div className="footer-info">
            <p>Trang Thông tin điện tử giấy phép lái xe</p>
            <p>Địa chỉ: Ô D20 - Khu Đô Thị Cầu Giấy mới - Cầu Giấy - Hà Nội</p>
            <p>Điện thoại: 1900.599.870</p>
        </div>
    </div>
</Footer>