<link rel="stylesheet" href="css/Home/Slidebar.css">

<div class="main-content-wrapper">
    <nav class="sidebar">
         
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-white" href="/trangchu">
            <i class="icon fas fa-home"></i>
            <span>Trang chủ</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/truyxuatbanglaixeoto" >
            <i class="icon fas fa-search"></i>
            <span>Tra cứu thông <br> tin GPLX</span>
          </a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link text-white" href="/account">
            <i class="icon fas fa-users"></i>
            <span>Tài khoản <br> tổ chức</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/licenseHolder">
            <i class="icon fas fa-building"></i>
            <span>Danh sách <br> GPLX</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">
            <i class="icon fas fa-user-shield"></i>
            <span>Phân quyền <br> vai trò</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="icon fas fa-chart-bar"></i>
              <span>Danh sách <br> xét duyệt</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li>
                  <a class="dropdown-item" href="/ApprovelicenselHoder">
                      <i class="fas fa-plus-circle me-2"></i> Cấp mới giấy <br> phép lái xe 
                  </a>
              </li>
              <li>
                  <a class="dropdown-item" href="/renew">
                      <i class="fas fa-pencil-alt me-2"></i> Cấp lại giấy <br> phép lái xe 
                  </a>
              </li>
              <li> <!-- Fixed the missing <li> tag -->
                  <a class="dropdown-item" href="/renewals">
                      <i class="fas fa-cog me-2"></i> Gia hạn giấy <br> phép lái xe 
                  </a>
              </li>
          </ul>
      </li>           
      </ul>
    </nav>

