
<div class="main-content-wrapper">
    <nav class="sidebar">
         
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-white" href="http://localhost:3000/trangchu">
            <i class="icon fas fa-home"></i>
            <span>Trang chủ</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/truyxuatbanglaixeoto" >
            <i class="icon fas fa-search"></i>
            <span>Tra cứu thông <br> tin GPLX</span>
          </a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link text-white" href="/account">
            <i class="icon fas fa-users"></i>
            <span>Tài khoản <br> tổ chức</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/licenseHolder">
            <i class="icon fas fa-building"></i>
            <span>Danh sách GPLX</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">
            <i class="icon fas fa-chart-bar"></i>
            <span>Thống kê <br> doanh nghiệp</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">
            <i class="icon fas fa-user-shield"></i>
            <span>Phân quyền <br> vai trò</span>
          </a>
        </li>
      </ul>
    </nav>